:root {
  --theme-color: #{$theme-primary-colour};

  // AssistantApps WebComponents
  --assistantapps-font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  --assistantapps-version-dropdown-background-colour: #{$dropdown-background};
  --assistantapps-version-dropdown-background-hover-colour: #{lighten($dropdown-background, 10%)};
  --assistantapps-team-member-link-text-colour: #{$theme-primary-colour};
}

body {
  background-color: #181c1f !important;
}

.sidebar {
  background-color: #272a2c !important;
}

.github-corner svg {
  color: #181c1f !important;
}

.ready {
  .search {
    display: none;
    padding: 0;

    input[type="search"] {
      background: $slight-background;
    }
  }
  .sidebar > h1 {
    margin-top: 1rem;
  }
}

.app-name-link img {
  max-height: 50px;
}

.content {
  padding-top: 2em;
}

article#main > div:first-child {
  display: inline;
}

// body:not(.sticky) .sidebar,
// body:not(.sticky) .sidebar-toggle {
//     left: 1em;
// }

#assistantapps {
  margin-bottom: 0;

  + blockquote,
  + blockquote p {
    margin: 0.25em 0;
  }
}

section.cover {
  min-height: 500px !important;
}

img.max-h-50 {
  max-height: 50vh;
}

img.max-h-75 {
  max-height: 75vh;
}

img.max-h-350 {
  max-height: 350px;
}

.book-loader-wrapper {
  text-align: center;
}

body .markdown-section h1,
body .markdown-section h2,
body .markdown-section h3,
body .markdown-section h4,
body .markdown-section em,
body .markdown-section strong {
  color: $theme-secondary-colour;
}

.not-found {
  h1,
  h2,
  h3 {
    color: white;
  }

  text-align: center;

  img {
    max-width: 500px;
  }
}

img {
  border-radius: 4px;
}

::selection {
  background: $theme-secondary-colour;
  color: white;
  /* WebKit/Blink Browsers */
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #3f3f3f;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #242943;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #2a2f4a;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
