.team-member {
    display: flex;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $slight-background;

    &:last-child {
        border-bottom: none;
    }

    img {
        width: 75px;
        height: 75px;

        // background: $slight-background;
        border-radius: 5px;
        // padding: 5px;
    }

    .team-member-contents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1em;

        h3,
        p {
            margin: 0;
            padding: 0;
            color: #f0f0f0;
        }

    }
}